/*
Colors used:
Primary Color (Black): #2e2e2e;
*/

* {
    box-sizing: border-box;
    margin: 0;
  }

body {
    background-color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #2e2e2e;
}


h1,h2,h3 {
    line-height: 1.4;
}

h1 {
    font-size: 2.75em;
    line-height: 1.2;
    font-weight: 600;
}

h2 {
    font-size: 2.25;
    font-weight: 600;
}

h3 {
    font-size: 1.75;
    font-weight: 400;
}

img {
    width: 100%;
}

picture {
    width: 100;
}

a {
    color: #2e2e2e;
    text-decoration: none;
}

a:hover,
a:focus {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: rgb(88, 88, 255);
    text-decoration: underline;
}

.button {
    margin-top: 15px;
    display: inline-block;
    /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #7050ff;
    color: #ffffff;
    /* needed to override the default link color */
    font-weight: 700;
    padding: 16px;
    border-radius: 8px;
    border-bottom: 2px solid #ffffff;
    /* width of the border, type, color */
    transition: 0.2s opacity;
}

.button:hover {
    color: #ffffff;
    opacity: 0.8;
    /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}

a:active {
    color: rgb(0, 0, 255);
    text-decoration: none;
}

.button.contact {
    background-color: black;
    color: #ffffff;
    border-radius: 8px;
    padding: 16px;

}

.button.contact:hover {
    color: #ffffff;
    opacity: 0.8;
    /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}

.button.contact:active {
    background-color: #ffffff;
    color: #000000;
    border: #000000;
    opacity: 0.8;
    /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}

.socials { 
    width: 25%;
}

/*styling layout*/

header {
    position: fixed;
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.247);
}

.container {
    padding: 0 15px;
}

.row {
    padding: 10px;
}

.row2 {
    padding: 3px;
}

.row3 {
    padding: 32px;
}

.profilepic {
   width: 50%;
   margin: auto;

}

.logo {
    max-width: 250px;
}

nav > ul {
    list-style-type: none;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
  }

nav > ul > li > a {
    display: inline-block;
    font-size: 16px;
    padding: 0 8px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }

  
nav > ul > li > a:hover {
    color: blue;
    text-decoration: underline;
}


#hero {
    background-color: #ffffff;
    display: inline-block;
    width: 100%;
  }

main {
    padding-top: 190px;
}

/*styling layout for about*/

.background {
    margin: 15px;
}

.aboutsection {
    margin: 15px;
    text-align: left;
}

.tripcontainer {
    margin: 15px;
}
